.emptyCells {
    border: 3px solid black;
    
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
}

#tableContainer {
    margin-right: 40px;
}

body {
    background-image: url('image/game-page-background.png');
    background-size: cover;                      
    background-repeat:   no-repeat;
    height: 100%;
    background-position: center center;
}


.ship-selection {
    height: 300px;
    width: 250px;
    background: rgb(0,0,0,0.5);
    border: dashed white 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li button{
    background: black;
    font-size: 12px;
    border: solid 2px white;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
}

ul li button:hover{
    background: coral;
}

ul {
    list-style-type: none;
}

.ship-list {
    
}

.tables-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

ul li button#ship-submission {
    background: red;
}

.clicked{
    background: green;
}

.center-title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#player1 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: fantasy;
    font-size: 20px;
}

#player2 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: fantasy;
    font-size: 20px;
}


.center-players {
    display: flex;
    align-items: center;
}

h3 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: impact;
}

.myRowHeaders {
    background: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 30px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.title {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: impact;
}

.enemy-guess {
    background-color: #2a72b9;
    border: solid;
}

.emptyCells.salvo-location.enemy-guess {
    background-color: orange;
}

.myColumnHeaders {
    background: none;
    color: black;
    width: 40px;
    height: 40px;
    font-family: fantasy;
    font-size: 30px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.top-side {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

td:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ship-location {
    background-color: blue;
    border: solid;
}

.btn {
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}

.btn:hover {
    cursor: pointer;
    background-color: salmon;
}

.btn a {
    text-decoration: none;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1 {
    font-family: Impact;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

.ship-location.Patrol-Boat.enemy-guess {
    background: red;
    border: solid;
}

.ship-location.Submarine.enemy-guess {
    background-color: red;
    border: solid;
}

.ship-location.Destroyer.enemy-guess {
    background-color: red;
    border: solid;
}

.salvo-location {
    background-color: #2a72b9;
    border: solid;
}



