.emptyCells {
    border: 3px solid black;
    background: rgba(255, 255, 255, 0.5);
}

#tableContainer {
    margin-right: 40px;
}

body {
    background: url('image/game-page-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.submit-cancel-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
}



.user-guess {
    background: url('image/user-guess.gif') no-repeat;
    background-size: contain;
    border: solid;
}

.possible-cell {
    background: rgba(0,255,0,0.5);
    border: solid;
}

#ship-submission {
    width: 120px;
    background: black;
    color: white;
}

#ship-submission:hover {
    background: red;
}

#ship-deletion{
    width: 120px;
    background: black;
    color: white;
}

#ship-deletion:hover{
    background: red;
    
}

#ship-selection {
    height: 80px;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.aircraft-button button{
    background: black;
    color: white;
}

.battleship-button button{
    background: black;
    color: white;
}
.submarine-button button{
    background: black;
    color: white;
}
.destroyer-button button{
    background: black;
    color: white;
}
.patrol-button button{
    background: black;
    color: white;
}



.tables-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;

}

.clicked {
    background: green;
    
}

.center-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#player1 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: fantasy;
    font-size: 20px;
}

#player1-1{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: fantasy;
    font-size: 20px;
}
#player2 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: fantasy;
    font-size: 20px;
}


.center-players {
    display: flex;
    align-items: center;
}

h3 {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: impact;
}

.myRowHeaders {
    background: none;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    font-size: 30px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    align-items: center;
    margin-top: -10px;
    border-bottom: solid black 3px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: impact;
}

.enemy-guess {
    background-color: #2a72b9;
    border: solid;
}

.emptyCells.salvo-location.enemy-guess {
    background-color: orange;
}

.myColumnHeaders {
    background: none;
    color: black;
    width: 30px;
    
    font-family: fantasy;
    font-size: 30px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

button a{
    font-style: none;
    color: white;
}

button a:hover{
    font-style: none;
    color: white;
}

.ship-button{
    width: (1/6)%;
}

.top-side {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

td:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.ship-location {
    background-color: blue;
    border: solid;
}
 
h1 {
    font-family: Impact;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

.ship-location.Patrol-Boat.enemy-guess {
    background: red;
    border: solid;
}

.ship-location.Submarine.enemy-guess {
    background-color: red;
    border: solid;
}

.ship-location.Destroyer.enemy-guess {
    background-color: red;
    border: solid;
}

.ship-location.Aircraft-Carrier.enemy-guess {
    background-color: red;
    border: solid;
}

.ship-location.Battleship.enemy-guess {
    background-color: red;
    border: solid;
}

.salvo-location {
    background: url('image/facepalm.gif') no-repeat;
    background-size: contain;
    border: solid;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
